body{
    font-family: Helvetica, sans-serif;
}

h1{
text-align: center;
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1yjbw2i*_ga*NzA4MzE4MTQ0Mi4xNjU3NzMyODE2*_ga_3LRZM6TM9L*MTY2MDg0ODA4My45MC4xLjE2NjA4NDk2NDcuNDUuMC4w");
font-size: 100px;
color: yellow;
}

h2{
 font-size: 32px;
 font-weight: bold;
 color: white;
}
.green{
background-color: mediumspringgreen;
}

.pink{
    background-color: lightcoral;
}

.blue{
    background-color: skyblue ;
}
.price{
    font-weight: bold;
    color: blue;
}